button:focus, textarea:focus, input:focus {
  outline: none !important;
}

.btn:focus, .btn-primary:focus {
  outline: none !important;
  outline-offset: none !important;
}

ul, ol {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
}