.wrapper {
  height: 80px !important;
  border-left: 1px solid rgb(225, 230, 235);
  position: absolute;
  right: 0;
  margin-right: 20px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  span {
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
  }

  button {
    height: 50px;
    padding-inline: 30px;
  }
}

.profileBtn {
  width: 6px;
  height: 3px;
  position: absolute;
  right: 30px;
  top: 26px;
}


