.new-course-themes {
  .h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #11141B;
    margin-right: 47px;
    font-family: Montserrat;
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    button {
      width: auto;
    }
  }

  &__wrapper {
    margin: 25px 0;
    padding: 24px 0;
    border-top: 1px solid #E1E6EB;
    p {
      font-size: 16px;
      line-height: 22px;
      color: #A0A1A4;
      font-family: Montserrat;
    }
  }
}

.new-course-public {
  margin: 0 0 80px!important;

  &__label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
  }
}