.pagination {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

.pagItem {
  cursor: pointer;
  width: 24px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activePage {
  background: rgb(30, 98, 229);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

.leftBtn {
  width: 36px;
  position: relative;
  top: -1px;
}

.rightBtn {
  position: relative;
  top: -1px;
  width: 36px;
}