@import "~bootstrap/scss/bootstrap";

:root {
  // https://dev.to/maciejtrzcinski/100vh-problem-with-ios-safari-3ge9
  --app-height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  // overflow: hidden;
}

body {
  > #root {
    height: inherit;
    width: inherit;
  }
}


.app {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  overflow: auto;

  > div {
    flex: 1
  }
}


.adminPage {
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
}